@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* *** */
html {
  font-size: 3.125vw;
  @media screen and (min-width: 375px) {
    font-size: 2.666666666vw;
  }
  @media screen and (min-width: 390px) {
    font-size: 2.564102564vw;
  }
  @media screen and (min-width: 576px) {
    font-size: 1.736111111vw;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.302083333vw;
  }
  @media screen and (min-width: 992px) {
    font-size: 1.008064516vw;
    & a[href^="tel:"] {
      pointer-events: none;
    }
  }
  @media screen and (min-width: 1080px) {
    font-size: 10px;
  }
}

/* font */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
  /* font-feature-settings: "palt"; */
}
body {
  background-color: #fff;
  color: #333;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}
.container {
  font-size: 1.2em;
  line-height: 1.75;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 375px) {
    font-size: 1.25em;
  }
  @media screen and (min-width: 390px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 576px) {
    font-size: 1.35em;
  }
  @media screen and (min-width: 768px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 992px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1080px) {
    font-size: 1.55em;
  }
  @media screen and (min-width: 1144px) {
    font-size: 1.6em;
  }
}
html,
body,
.container {
  height: 100%;
}
.container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer {
  margin-top: auto;
}

/* .gutters */
.gutters {
  padding-right: 1em;
  padding-left: 1em;
  @media screen and (min-width: 576px) {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }
  @media screen and (min-width: 768px) {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
  @media screen and (min-width: 992px) {
    padding-right: 1.75em;
    padding-left: 1.75em;
  }
  @media screen and (min-width: 1144px) {
    padding-right: 2em;
    padding-left: 2em;
  }
}
.gutters > [class*="-inner"] {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.gutters.document > [class*="-inner"] {
  max-width: 1440px;
}

/* *** */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
}
[class*="-heading"] > .heading-inner {
  display: inline-block;
}
em {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  font-weight: 600;
}
strong {
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
}
ul.style-none,
ol.style-none {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* clearfix */
[class*="-inner"]::after,
.cf::after,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* *** exclusive to this site *** */
/* * */
.header .heading {
  text-align: center;
  padding: 3em 0 1.5em;
}
.header .heading-inner {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: .15em;
  padding-left: .15em;
}
.pkg {
  width: 100%;
  max-width: 740px;
  margin: 3em auto 4em;
}

/* お知らせ・日付＆カテゴリー部分 */
.cat-text {
  color: #fff;
  line-height: 1.15;
  padding: .2em 1em;
}
.cat-soudan .cat-text {
  background-color: #dd6500;
}
.cat-notice .cat-text {
  background-color: #103675;
}
.cat-event .cat-text {
  background-color: #004e1e;
}

/* お知らせ・本文部分 */
.dl-inner {
  margin-top: 3em;
}
.dd {
  margin-left: 1em;
}
.dd strong {
  font-size: 1.5em;
}

/* 表組部分 */
.table-outer {
  margin-top: 5em;
}
.table {
  border: 1px solid #999;
  width: 100%;
  margin: 0 auto;
}
.table .tr:not(:last-child) {
  border-bottom: 1px solid #795e54;
}
.table .thead tr {
  background-color: #836c62;
  border-bottom: 1px solid #795e54;
  color: #fff;
}
.table .th,
.table .td {
  font-weight: 400;
  text-align: center;
  padding: 1.5em 1em;
}
.table .tbody td {
  width: 12em;
}
.table .tbody tr:nth-child(2n) {
  background-color: rgba(195, 170, 158, .1);
}
.table .amount {
}




/* *** */